section.Cases
  .container
    h4.Cases__Title #{casesTitle}
    .Cases-Row
      h5.Cases__Subtitle Читайте отзывы клиентов из разных сфер бизнеса
      .Cases-Arrows
        .Cases-Arrows__Btn.Cases-Arrows__Btn_prev
          <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.04761 1.14282L1.19046 7.99997L8.04761 14.8571" stroke="#D6D6D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .Cases-Arrows__Btn.Cases-Arrows__Btn_next
          <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.04761 1.14282L1.19046 7.99997L8.04761 14.8571" stroke="#D6D6D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
    .Cases-Slider
      .Cases-Slider-Item
        .Cases-Slider-Item-Head
          .Cases-Slider-Item-Head-imgbox
            img(src="assets/images/Cases/Girina.png" alt="Гирина Галина ООО «ЭКО-Менеджинг Групп»")
          .Cases-Slider-Item-Head-Info
            p.Cases-Slider-Item-Head-Info__Name Гирина Галина
            p.Cases-Slider-Item-Head-Info__Where ООО «ЭКО-Менеджинг Групп»
        p.Cases-Slider-Item__Body Существенная экономия расходов на бухгалтерское сопровождение, гарантированное отсутствие  проблем с налоговой инспекцией, и при этом «А.Каунт» работает по принципу «все включено» -  у нас нет никаких дополнительных платежей.
      .Cases-Slider-Item
        .Cases-Slider-Item-Head
          .Cases-Slider-Item-Head-imgbox
            img(src="assets/images/Cases/Girina.png" alt="Гирина Галина ООО «ЭКО-Менеджинг Групп»")
          .Cases-Slider-Item-Head-Info
            p.Cases-Slider-Item-Head-Info__Name Гирина Галина
            p.Cases-Slider-Item-Head-Info__Where ООО «ЭКО-Менеджинг Групп»
        p.Cases-Slider-Item__Body Существенная экономия расходов на бухгалтерское сопровождение, гарантированное отсутствие  проблем с налоговой инспекцией, и при этом «А.Каунт» работает по принципу «все включено» -  у нас нет никаких дополнительных платежей.
      .Cases-Slider-Item
        .Cases-Slider-Item-Head
          .Cases-Slider-Item-Head-imgbox
            img(src="assets/images/Cases/Girina.png" alt="Гирина Галина ООО «ЭКО-Менеджинг Групп»")
          .Cases-Slider-Item-Head-Info
            p.Cases-Slider-Item-Head-Info__Name Гирина Галина
            p.Cases-Slider-Item-Head-Info__Where ООО «ЭКО-Менеджинг Групп»
        p.Cases-Slider-Item__Body Существенная экономия расходов на бухгалтерское сопровождение, гарантированное отсутствие  проблем с налоговой инспекцией, и при этом «А.Каунт» работает по принципу «все включено» -  у нас нет никаких дополнительных платежей.
      .Cases-Slider-Item
        .Cases-Slider-Item-Head
          .Cases-Slider-Item-Head-imgbox
            img(src="assets/images/Cases/Girina.png" alt="Гирина Галина ООО «ЭКО-Менеджинг Групп»")
          .Cases-Slider-Item-Head-Info
            p.Cases-Slider-Item-Head-Info__Name Гирина Галина
            p.Cases-Slider-Item-Head-Info__Where ООО «ЭКО-Менеджинг Групп»
        p.Cases-Slider-Item__Body Существенная экономия расходов на бухгалтерское сопровождение, гарантированное отсутствие  проблем с налоговой инспекцией, и при этом «А.Каунт» работает по принципу «все включено» -  у нас нет никаких дополнительных платежей.
      .Cases-Slider-Item
        .Cases-Slider-Item-Head
          .Cases-Slider-Item-Head-imgbox
            img(src="assets/images/Cases/Girina.png" alt="Гирина Галина ООО «ЭКО-Менеджинг Групп»")
          .Cases-Slider-Item-Head-Info
            p.Cases-Slider-Item-Head-Info__Name Гирина Галина
            p.Cases-Slider-Item-Head-Info__Where ООО «ЭКО-Менеджинг Групп»
        p.Cases-Slider-Item__Body Существенная экономия расходов на бухгалтерское сопровождение, гарантированное отсутствие  проблем с налоговой инспекцией, и при этом «А.Каунт» работает по принципу «все включено» -  у нас нет никаких дополнительных платежей.