extends ../template
block title
  | Об аккаунтинге | A-count
block content
  section.aBanner
    .container
      .aBanner-Desc
        h1.aBanner-Desc__Title Аккаунтинг — больше, чем просто бухгалтерия
        p.aBanner-Desc__Text Единое решение для бухгалтерии, а также помощь в финансовых и юридических вопросах
        a(href="#").aBanner-Desc__More Узнать больше
      img(src="assets/images/aBanner.svg" alt="Аккаунтинг — больше, чем просто бухгалтерия").aBanner__Img
  section.aItems
    .container
      .AboutItem
        img(src="assets/images/Specialists.svg", alt="Разнопрофильные специалисты A-Count")
        p.AboutItem__Title Разнопрофильные <br>специалисты
        p.AboutItem__Text Компетенций достаточно для того, <br>чтобы закрыть потребности бизнеса, связанные с полным спектром <br>бухгалтерских работ, а также смежных областей
      .AboutItem
        img(src="assets/images/Manager.svg", alt="Личный аккаунт менеджер A-Count")
        p.AboutItem__Title Личный аккаунт менеджер
        p.AboutItem__Text Персональный помощник, находящийся в курсе текущей ситуации Вашего бизнеса <br>и координирующий работу остальных доступных Вам специалистов
      .AboutItem
        img(src="assets/images/PieChart.svg", alt="Оптимизация расходов A-Count")
        p.AboutItem__Title Оптимизация расходов
        p.AboutItem__Text Вам не нужно платить зарплату и налоги за сотрудника, а так же обеспечивать ему рабочее место в офисе. Одна фиксированная плата за все услуги
      .AboutItem
        img(src="assets/images/Process.svg", alt="Настроенный процесс работы с клиентом A-Count")
        p.AboutItem__Title Настроенный процесс <br>работы с клиентом
        p.AboutItem__Text Мы выстроили процесс взаимодействия таким образом, чтобы клиент мог решать задачи удобным для себя способом
  section.Manager
    .container
      h2.Manager__Title Ваш аккаунт <br>менеджер
      .Manager-Desc
        p.Manager-Desc__Text Мы понимаем, что человек обеспечивающий слаженную работу команды на пользу Вашему бизнесу должен обладать соответствующим опытом и навыками
        p.Manager-Desc__Subtitle Навыки
        ul.Manager-Desc-Ul
          li.Manager-Desc-Ul__Li Высшее образования
          li.Manager-Desc-Ul__Li Навыки управленца
          li.Manager-Desc-Ul__Li Опыт участия в налоговых спорах и арбитражных судах
          li.Manager-Desc-Ul__Li Стаж не меньше 5 лет в крупных компаниях
          li.Manager-Desc-Ul__Li Прохождение тренингов не менее 48 часов каждый год
          li.Manager-Desc-Ul__Li Бухгалтерская аттестация
        p.Manager-Desc__Subtitle Задачи
          ul.Manager-Desc-Ul
            li.Manager-Desc-Ul__Li Всегда находится на связи со своим клиентом
            li.Manager-Desc-Ul__Li Координировать работу других специалистов
            li.Manager-Desc-Ul__Li Проявлять инициативу для решения бизнес-задач
            li.Manager-Desc-Ul__Li Планировать финансовое развитие Вашей компании
        p.Manager-Desc__Under А так же многое другое для Вашего развития
      img(src="assets/images/PersonalManager.svg" alt="Ваш аккаунт менеджер").Manager__Img
  section.HowItWork
    .container
      .HowItWork-Head
        h3.HowItWork-Head__Title Как происходит <br>взаимодействие?
        p.HowItWork-Head__Text В работе с клиентом участвуют 3 разных офиса, а также курьерская служба при необходимости доставки документов.
    .HowItWork-Body
      .container
        .HowItWork-Body-Item
          p.HowItWork-Body-Item__Title Фронт офис
          p.HowItWork-Body-Item__Text Место для переговоров, встреч и решения задач с Вашим личным аккаунт менеджером
        .HowItWork-Body-Item
          p.HowItWork-Body-Item__Title Бэк офис
          p.HowItWork-Body-Item__Text Все специлисты в одном месте для помощи Вашему бизнесу доступны для контакта онлайн и по телефону
        .HowItWork-Body-Item
          p.HowItWork-Body-Item__Title Дроп офис
          p.HowItWork-Body-Item__Text Ваши документы в одном месте для быстрого доступа Вам и любому необходимому специалисту
        .HowItWork-Body-Item
          p.HowItWork-Body-Item__Title Курьерская служба
          p.HowItWork-Body-Item__Text Доставим все необходимые документы для Вас, Ваших клиентов и государственных органов
  section.Doubts
    .container
      h3.Doubts__Title Сомневаетесь? <br>— Не стоит
      ol.Doubts-Body
        li.Doubts-Body-Item
          p.Doubts-Body-Item__Title Экспертиза
          p.Doubts-Body-Item__Text Среди наших клиентов находится большее количество направлений <br>бизнеса со своей финансовой спецификой, что помогает нам эффективно <br>выстроить работу в независимости от того, чем Вы занимаетесь
        li.Doubts-Body-Item
          p.Doubts-Body-Item__Title Саморазвитие
          p.Doubts-Body-Item__Text По мере развития технологий и изменения законодательства мы <br>регламентированно проводим повышение квалификации сотрудников <br>и совершенствования технической базы компании
        li.Doubts-Body-Item
          p.Doubts-Body-Item__Title Многолетний опыт
          p.Doubts-Body-Item__Text Пройдя через череду корректировок и улучшений мы выстроили <br>бизнес процессы таким образом, что быть эффективными и <br>финансово полезными для клинета
        li.Doubts-Body-Item
          p.Doubts-Body-Item__Title Личная заинтересованность
          p.Doubts-Body-Item__Text Мы зарабатываем на том, что Ваш бизнес растет и развивается, <br>поэтому в наших интересах сделать для этого все возможное
      img(src="assets/images/Doubts.svg" alt="Сомневаетесь? — Не стоит A-Count").Doubts__Img
  include ../common/Form