extends ../template
block title
  | Главная | A-count
block variables
    - var blueFooter = true
block content
  section.BlogBanner
    .container
      .BlogBanner-Desc
        h2.BlogBanner-Desc__Title Вдохновляющие истории, <br>наилучшие практики <br>и новости сообщества
        p.BlogBanner-Desc__Text Подпишитесь и получайте лучшие статьи недели на e-mail
        form.BlogBanner-Desc-Sub
          input(type="text" placeholder="E-mail")
          button(type="submit") Подписаться
      img(src="assets/images/blogBanner.svg" alt="Блог | Аккаунт").BlogBanner__Img
  section.Blog
    .container
      section.Blog-Head
        h1.Blog-Head__Title Статьи
        form.Blog-Head-Filter
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all" checked)
            .Blog-Head-Filter-Item__Button Все
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all1")
            .Blog-Head-Filter-Item__Button Оптовая торговля
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all2")
            .Blog-Head-Filter-Item__Button Организация праздников
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all3")
            .Blog-Head-Filter-Item__Button Экстрим туризм
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all4")
            .Blog-Head-Filter-Item__Button Импорт оборудования
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all5")
            .Blog-Head-Filter-Item__Button Организация праздников
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all6")
            .Blog-Head-Filter-Item__Button Экстрим туризм
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all7")
            .Blog-Head-Filter-Item__Button Экстрим туризм
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all8")
            .Blog-Head-Filter-Item__Button Экстрим туризм
          label.Blog-Head-Filter-Item
            input(type="radio" name="blogFilter" value="all9")
            .Blog-Head-Filter-Item__Button Экстрим туризм
          button.Blog-Head-Filter__More
            <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L4 4L7 1" stroke="#898989" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      section.Blog-Body
        a(href="#").Blog-Item
          .Blog-Item-Desc
            p.Blog-Item-Desc__Title Что нового в налоговом <br>учете с 2020 года
            .Blog-Item-Desc-Sub
              time 26.12.2019
              p.Blog-Item-Desc-Sub-Tags
                span Налоги
                | ,
                span Законодательство
            p.Blog-Item-Desc__Text Очередной закон № 325-ФЗ от 29 сентября 2019 года внес многочисленные поправки в Налоговый Кодекс Российской Федерации.
            button.Blog-Item-Desc__Btn Читать статью
          .Blog-Item-Img
            img(src="assets/images/Post/post.png")
        a(href="#").Blog-Item
          .Blog-Item-Desc
            p.Blog-Item-Desc__Title Что нового в налоговом <br>учете с 2020 года
            .Blog-Item-Desc-Sub
              time 26.12.2019
              p.Blog-Item-Desc-Sub-Tags
                span Налоги
                | ,
                span Законодательство
            p.Blog-Item-Desc__Text Очередной закон № 325-ФЗ от 29 сентября 2019 года внес многочисленные поправки в Налоговый Кодекс Российской Федерации.
            button.Blog-Item-Desc__Btn Читать статью
          .Blog-Item-Img
            img(src="assets/images/Post/post.png")
        a(href="#").Blog-Item
          .Blog-Item-Desc
            p.Blog-Item-Desc__Title Что нового в налоговом <br>учете с 2020 года
            .Blog-Item-Desc-Sub
              time 26.12.2019
              p.Blog-Item-Desc-Sub-Tags
                span Налоги
                | ,
                span Законодательство
            p.Blog-Item-Desc__Text Очередной закон № 325-ФЗ от 29 сентября 2019 года внес многочисленные поправки в Налоговый Кодекс Российской Федерации.
            button.Blog-Item-Desc__Btn Читать статью
          .Blog-Item-Img
            img(src="assets/images/Post/post.png")
        a(href="#").Blog-Item
          .Blog-Item-Desc
            p.Blog-Item-Desc__Title Что нового в налоговом <br>учете с 2020 года
            .Blog-Item-Desc-Sub
              time 26.12.2019
              p.Blog-Item-Desc-Sub-Tags
                span Налоги
                | ,
                span Законодательство
            p.Blog-Item-Desc__Text Очередной закон № 325-ФЗ от 29 сентября 2019 года внес многочисленные поправки в Налоговый Кодекс Российской Федерации.
            button.Blog-Item-Desc__Btn Читать статью
          .Blog-Item-Img
            img(src="assets/images/Post/post.png")
      button.Blog__More Показать еще
        span
          <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L4 4L7 1" stroke="#898989" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
