extends ../template
block title
  | Главная | A-count
block variables
  - var blueFooter = true
block content
  section.Post
    .container
      button(onclick="history.back();" ).goBack
        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.33333 1L1 6.33333L6.33333 11.6667" stroke="#898989" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        | Услуги
      article.PostArticle
        section.PostArticle-Block
          .PostArticle-Block-Head
            h1.PostArticle-Block-Head__Title Что нового в налоговом учете с 2020 года
            .Blog-Item-Desc-Sub
              time 26.12.2019
              p.Blog-Item-Desc-Sub-Tags
                span Налоги
                | ,
                span Законодательство
          .PostArticle-Block-Content
            p Очередной закон № 325-ФЗ от 29 сентября 2019 года внес многочисленные поправки в Налоговый Кодекс Российской Федерации. В первой части статьи рассмотрены отдельные нововведения, которые затронут налог на прибыль, налог на добавленную стоимость и налог на имущество с 01 января 2020 года. Далее речь пойдет об изменениях в составе налоговой отчетности, коснемся более ранних поправок, содержащихся в Федеральном законе № 63-ФЗ от 15.04.2019г. В заключении, отметим, как изменяться сроки уплаты земельного и транспортного налогов за 2020 год. Принятый Государственной Думой Федеральный закон № 325-ФЗ от 29 сентября 2019 года «О внесении изменений в части первую и вторую Налогового кодекса Российской Федерации» получился достаточно объемным, скорректирована практически каждая глава Налогового Кодекса, остановимся на некоторых из них:
            img(src="assets/images/Post/post.png" alt="" data-imgbox)
        section.PostArticle-Block
          .PostArticle-Block-Head
            h2.PostArticle-Block-Head__Title Что нового в налоговом учете с 2020 года
          .PostArticle-Block-Content
            h5 Перенос убытков на будущее
            p До 31 декабря 2021 года продлен срок, запрещающий уменьшать налоговую базу за текущий период на сумму убытков прошлых лет более чем на 50 процентов (поправки внесены в статью 283 НК РФ). Снятие ограничений по налогу на прибыль решено отложить еще на один год. Кроме того, вводится запрет на уменьшение налоговой базы налогоплательщика-правопреемника на сумму убытков, полученных реорганизуемыми организациями до момента реорганизации, если при проверке налоговые контролеры установят, что это является основной целью реорганизации.
            h5 Амортизируемое имущество
            p Законодатель дополнил статью 256 НК РФ, уточнив, что амортизируемым имуществом будут признаваться результаты интеллектуальной деятельности и иные объекты интеллектуальной собственности со сроком полезного использования более 12 месяцев и первоначальной стоимостью более 100 000 рублей. По сути правила отнесения имущества к амортизируемому не изменятся.
            h5 Консервация основных средств
            p Из пункта 3 статьи 256 НК РФ будет исключена норма о продлении срока полезного использования основного средства на период нахождения объекта основных средств на консервации. В итоге отпадет необходимость в пересчете срока полезного использования объекта основного средства после его расконсервации.
            h5 Метод начисления амортизации
            p Метод начисления амортизации налогоплательщик сможет менять не чаще одного раза в пять лет (скорректирован пункт 1 статьи 259 НК РФ). Сейчас закреплена обязанность ждать пять лет только для перехода с нелинейного метода на линейный метод начисления амортизации. Новая норма лишит организации возможности часто менять метод начисления амортизации.
            h5 Налог на добавленную стоимость
            p Организации при переходе на ЕНВД по одним видам деятельности с сохранением общего режима налогообложения по другим видам деятельности будут обязаны восстановить НДС, ранее принятый к вычету по товарам (работам, услугам), в том числе основным средствам и нематериальным активы, имущественным правам, когда они переданы или начинают использоваться для осуществления деятельности, переведенной на ЕНВД. Пока такое восстановление производится в налоговом периоде, предшествующем переходу на спецрежим (дополнен пункт 3 подпункта 2 статьи 170 НК РФ). Также в статью 170 НК РФ добавлен пункт 3.1, подробно расписывающий порядок восстановления НДС, организацией-правопреемником, который был принят к вычету до реорганизации. В частности, квартал, в котором осуществляется восстановление НДС зависит от того является ли правопреемник вновь созданным юридическим лицом или реорганизация произведена путем присоединения одного юридического лица к другому, а также от выбора режима налогообложения после реорганизации.
            h5 Вычет НДС
            p Согласно новой редакции НК РФ организации смогут заявить вычет по НДС по товарам (работам, услугам), имущественным правам, приобретенным для создания нематериального актива. Вычет налога на добавленную стоимость, предъявленного налогоплательщику в связи с созданием нематериального актива можно будет заявить только после того как товары (работы, услуги), имущественные права, используемые, для его создания будут поставлены на учет (изменения коснулись п.6 ст. 171 и п.1 ст. 172 НК РФ).
        section.PostArticle-Block
          .PostArticle-Block-Head
            h3.PostArticle-Block-Head__Title Налог на имущество организаций
          .PostArticle-Block-Content
            h5 Недвижимое имущество, облагаемое по кадастровой стоимости
            p Новая редакция статьи 378.2 НК РФ расширит перечень объектов недвижимого имущества, подлежащего обложению по кадастровой стоимости. Напомним, что на данный момент к таким объектам относятся:
            ul
              li административно-деловые центры и торговые центры;
              li нежилые помещения, предназначенные либо фактически используемые для размещения офисов, торговых объектов, объектов общественного питания и бытового обслуживания;
              li отдельные объекты недвижимого имущества иностранных организаций.
            p С 01 января 2020 года вместо «домов и иных жилых помещений, не учтенных на балансе организаций в качестве объектов основных средств», которые также упомянуты в настоящей статье как объекты, облагаемые налогом по кадастровой стоимости, под налогообложение подпадет недвижимость, перечисленная в главе 32 «Налог на имущество физических лиц» НК РФ, а именно: жилые дома, квартиры, комнаты, гаражи, машино-места, единый недвижимый комплекс, объекты незавершенного строительства и иные здания, строения, сооружения, помещения, расположенные в Москве, Санкт-Петербурге или Севастополе.
            p Таким образом, увеличение состава недвижимого имущества, облагаемого налогом на имущество исходя из кадастровой стоимости неизбежно приведет к дополнительной налоговой нагрузке организаций. Однако, в случае если кадастровая стоимость по «новым» объектам недвижимости, добавленным в перечень еще не определена, исчисление налога по таким объектам будет производиться исходя из их среднегодовой стоимости (добавлен подпункт 2.2 в пункт 12 статьи 378.2 НК РФ).
        a(href="https://www.klerk.ru/").PostArticle__Source Источник: https://www.klerk.ru/