extends ../template
block title
  | Услуги бухгалтерского учета | A-count
block content
  section.ServicesSolo
    .container
      h1.ServicesSolo__Title Услуги бухгалтерского учета
      p.ServicesSolo__Text Компания «A.Count» предлагает высокопрофессиональные услуги бухгалтерского учета всем, кто заинтересован в качественном и аккуратном ведении финансовых дел предприятия вне зависимости от его размеров.
      .ServicesSolo-Grid
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Бухгалтерский аутсорсинг
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price от 10 000 ₽/мес
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Ведение бухгалтерского учета
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price от 10 000 ₽/мес
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Бухгалтерское сопровождение <br>ИП и ООО
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price от 10 000 ₽/мес
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Постановка бухгалтерского учета
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price от 6 000 ₽
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Восстановление <br>бухгалтерского учета
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price от 6 000 ₽
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Бухгалтерские услуги в Симферополе
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price от 5 000 ₽/мес
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Бухгалтерские семинары в Симферополе
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Подготовка отчетов о движении денежных средств по зарубежным счетам физических лиц
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Криминальный Аудит
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="#").ServicesSolo-Grid-Item
          p.ServicesSolo-Grid-Item__Title Проверка контрагентов
          .ServicesSolo-Grid-Item-Bottom
            p.ServicesSolo-Grid-Item-Bottom__Price
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="26" fill="#B5076B"/>
              <path d="M17 25.5H35.5M35.5 25.5L29 19M35.5 25.5L29 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
  include ../common/Form