extends ../template
block title
  | Главная | A-count
block variables
  - var casesTitle = 'Отзывы'
  - var bluePriceAndPadding80 = true
  - var blueFooter = true
block content
  section.servicePage
    .container
      button(onclick="history.back();" ).goBack
        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.33333 1L1 6.33333L6.33333 11.6667" stroke="#898989" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        | Услуги
      .servicePage-Body
        aside.servicePage-Body-Aside
          h1.servicePage-Body__Title Бухгалтерское <br>сопровождение <br>ИП и ООО
          button.servicePage-Body__Order Заказать услугу
        article.servicePage-Body-Content
          p Бухгалтерское сопровождение фирм в компании «А.Каунт» не ограничивается отдельными пакетами услуг по ведению бухгалтерского и налогового учета, дополнительными блоками бухгалтерского обслуживания или отдельными (часто востребованными) видами услуг, «восстановление бухучета» и «постановка бухучета».
          h2 Бухгалтерское сопровождение для начинающего бизнеса
          p Известно, что создание своего бизнеса – сложная задача, даже если уже имеется аналогичный опыт (не говоря про ситуацию, когда это происходит первый раз). Данным пакетом услуг могут воспользоваться не только приступающие к делу ИП, но и ООО, другие фирмы и организации.
          p Статистика свидетельствует, что в основе 90 % загубленных бизнесов – ошибки, пропущенные на пути создания. Причем они – одни и те же, они неизменно повторяются у разных людей.
          p Мы предлагаем использовать наработанный нами опыт, сберечь ваши силы и время, сэкономить ваши денежные средства. Для этих целей среди наших предложений присутствует пакет "Smart.Start" (Он отличается набором услуг от «Постановки бухгалтерского учета»).
          p Мы гарантируем, что с нами вы не допустите промахов на первых шагах вашей компании. (А при нашем дальнейшем сотрудничестве – и в будущем).
          h3 Бухгалтерское сопровождение для растущего бизнеса
          p Всем известно, что не всякое дело, даже уже давно работающее, однозначно эффективно и предельно прибыльно. Часто существует множество огрех в ведении делопроизводства, в работающих бизнес-процессах компании, в существующей в фирме системе налогообложения.
          p Не всегда «замыленный» глаз менеджеров фирмы способен во время заметить такие ситуации или найти оптимальные варианты исправления. Мы готовы прийти на помощь. Посудите сами, в перечень услуг бухгалтерского сопровождения входят:
          ul
            li Экспресс-анализ бухгалтерского и налогового учета
            li Построение оптимальных моделей бизнес-процессов
            li Оптимизацию налоговой нагрузки
            li Создание персональной учетной политики бухгалтерского учета
            li Разработку персональной учетной политики налогового учета
          p Можете быть уверены, что после нашей работы результат в виде дополнительной прибыли вашей компании не заставит себя ждать. А вложенные в пакет "Ad.Wise" средства окупятся сторицей.
          h4 Бухгалтерское сопровождение для проблемного бизнеса
          p Если ваша компания столкнулась с необходимостью из-за нерадивости бухгалтера или службы выполнять восстановление бухгалтерского учета, то у компании явно не все в порядке, и необходимо проведение анализа также в других системах учета. Как правило, не бывает, что в бухучете «катастрофа», а в налоговом учете «все окей».
          p Любой финансовый специалист посоветует вам в такой ситуации воспользоваться комплексным анализом и последующим внесением изменений в бухгалтерский и налоговый учеты (вместо отдельной услуги «Восстановление бухгалтерского учета»). Поэтому изучите перечень предлагаемых услуг в рамках пакета "Plan.В" и непременно им воспользуйтесь. Улучшения гарантируем.
          h5 Кадровое сопровождение ООО, ИП
          p Если в вашей компании отсутствует кадровая служба, либо предстоит оптимизация численности, то самый резон воспользоваться нашей комплексной услугой кадрового сопровождения.
          p Она включает ведение всех кадровых вопросов, нормативной документации, персонифицированного учета, заполнение первичных документов (трудовых книжек, трудовых договоров, приказов) и их хранение, расчет заработной платы, кадровый консалтинг по текущим и перспективным вопросам.
  include ../common/Price
  include ../common/Cases