extends ../template
block title
  | Sitemap | A-count
block content
  .Sitemap
    .container
      table
        tr
          td
            a(href="index.html") Главная страница
        tr
          td
            a(href="about.html") Об аккаунтинге
        tr
          td
            a(href="contacts.html") Контакты
        tr
          td
            a(href="price.html") Цены
        tr
          td
            a(href="blog.html") Блог
          td
            a(href="post.html") Пост
        tr
          td
            a(href="services.html") Услуги
          td
            a(href="servicePage.html") Услуга
        tr
          td
            a(href="404.html") 404
