<!DOCTYPE html>
html(lang="ru")
  head
    link(rel="stylesheet", href="assets/styles/app.css")
    link(rel="icon" type="image/svg+xml" href="assets/images/Favicon.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(type="text/javascript" src="assets/scripts/jquery.min.js")
    script(type="text/javascript" src="assets/scripts/Header.js")
    script(type="text/javascript" src="assets/scripts/slick.min.js")
    script(type="text/javascript" src="assets/scripts/main.js")
    script(type="text/javascript" src="assets/scripts/Popup.js")


    // validataion
    script(type="text/javascript" src="assets/scripts/supaform.min.js")
    script(type="text/javascript" src="assets/scripts/Validation.js")


    // if price page
    script(type="text/javascript" src="assets/scripts/price.js")
    // if price page END


    // MAPBOX if "contacts"
    script(type="text/javascript" src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')
    script(type="text/javascript" src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js')
    // MAPBOX if "contacts" END
    title 
      block title
  body
    #wrapper
      include common/Header
      main.Main
        block variables
        block content
      if disableFooter !== true
        include common/Footer