.PriceHead{
  padding-top: 120px;
  padding-bottom: 80px;
  &__Title{
    @extend %h1;
    color: var(--black);
    margin-bottom: 40px;
  }
  &-Tabs{
    display: flex;
    &__Tab{
      @extend %tabBtn;
      &:not(:last-child){
        margin-right: 16px;
      }
      &_active{
        @extend %tabBtnActive;
      }
    }
  }
}

.PriceTable{
  background-color: var(--light-blue);
  padding: 16px 0 40px;
  .container{
    position: relative;
  }
  &-Item{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'L L L R R R R R R R R R';
    gap: 16px;
    &:not(:last-child){
      margin-bottom: 32px;
    }
    &:nth-child(2){
      margin-top: -73px;
    }
    &:not(:nth-child(2)){
      .PriceTable-Content-HeadRow{
        //border-bottom: 1px solid var(--mid-light-gray);
      }
    }
  }
  &-Aside{
    grid-area: L;
    position: relative;
    &__Head{
      @extend %text;
      position: sticky;
      top: 68px;
      background-color: var(--light-blue);
      padding-bottom: 24px;
      padding-top: 24px;
      border-bottom: 1px solid var(--mid-light-gray);
      &:not(:first-child){
        margin-top: 48px;
      }
    }
    &__El{
      height: 70px;
      display: flex;
      align-items: center;
      @extend %small-text-wide;
      color: var(--dark-gray);
      border-bottom: 1px solid transparent;
      transition: .3s;
      &_hide{
        height: 0;
        overflow: hidden;
      }
    }
  }
  &-Content{
    grid-area: R;
    &-Row, &-HeadRow{
      display: flex;
      &__El{
        flex: 1;
        border-bottom: 1px solid var(--mid-light-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
          margin-right: 16px;
        }
      }
    }
    &-HeadRow{
      height: 73px;
      &:not(:first-child){
        border-bottom: 1px solid var(--mid-light-gray);
        margin-top: 48px;
      }
    }
    &-Row{
      &_hide{
        .PriceTable-Content-Row__El{
          height: 0;
          overflow: hidden;
          border: none;
        }
      }
      &__El{
        transition: .3s;
        flex-shrink: 0;
        flex-grow: 1;
        svg{
          margin-top: 4px;
        }
        height: 70px;
      }
    }
  }

  &-Heading{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'L L L R R R R R R R R R';
    gap: 16px;
    position: sticky;
    top: 68px;
    &__Prev, &__Next{
      display: none;
    }
    &-Right{
      grid-area: R;
      display: flex;
      background-color: var(--light-blue);
      &__El{
        flex: 1;
        border-bottom: 1px solid var(--mid-light-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
          margin-right: 16px;
        }
        padding-top: 24px;
        padding-bottom: 24px;
        @extend %text;
        font-weight: 600;
        color: var(--purple);
      }
    }
  }
}

.PriceDownload{
  padding-top: 40px;
  .container {
    @extend %grid-OneRow;
  }
  &__Title{
    grid-area: L;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: var(--black);
  }
  &-Links{
    grid-area: R;
    &__Text{
      margin-bottom: 24px;
      @extend %text;
      color: var(--mid-gray);
    }
    &-Row{
      display: flex;
      flex-wrap: wrap;
      margin: -20px;
    }
    &__Link{
      display: flex;
      align-items: center;
      margin: 20px;
      @extend %text;
      color: var(--mid-gray);
      svg{
        margin-right: 8px;
        path{
          transition: .3s;
          &:nth-child(1){
            fill: #fff;
          }
        }
      }
      span{
        color: var(--cherry);
      }
      &:hover svg path:nth-child(1){
        @media screen and (min-width: 1024px){
          fill: var(--cherry);
        }
      }
      &:hover svg path:nth-child(2), &:hover svg path:nth-child(3){
        @media screen and (min-width: 1024px){
          stroke: #fff;
        }
      }
    }
  }
}


@media screen and (max-width: 1100px){
  .Price{
    &Head{
      padding: 80px 0;
    }
  }
  .PriceTable{
    &-Item{
      display: flex;
      gap: 0;
    }
    &-Aside{
      width: 280px;
      //margin-right: 20px;
      flex-shrink: 0;
      &__Head{
        top: 56px;
      }
      position: relative;
      padding-right: 20px;
      &:after{
        position: absolute;
        left: calc(100%);
        width: 46px;
        top: -16px;
        height: calc(100% + 56px);
        content: '';
        display: block;
        background: linear-gradient(90deg, #DFE2E8 0%, rgba(245, 247, 250, 0) 100%);
      }
    }
    &-Content{
      padding-left: 40px;
      overflow: auto;
      margin-right: -40px;
      //position: relative;
      &-Row__El{
        width: 106px;
        flex-shrink: 0;
        flex: none;
      }
      &-HeadRow{
        &__El{
          width: 106px;
          flex-shrink: 0;
          flex: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: var(--purple);
        }
      }
    }
    &-Item:nth-child(2){
      margin-top: 0;
    }
    &-Heading{
      display: none;
    }
  }
}
@media screen and (min-width: 1101px){
  .PriceTable-Content > div{
    width: auto !important;
  }
}
@media screen and (max-width: 1023px){
  .PriceDownload{
    display: none;
  }
}
@media screen and (max-width: 767px){
  .PriceTable{
    padding-top: 0;
    &-Content{
      position: absolute;
      padding-left: 0;
      margin: 0;
      right: 0;
      width: 100%;
      & > div{
        width: 100% !important;
      }
      &-HeadRow{
        &__El{
          display: none;
        }
        &:not(:first-child){
          margin-top: 24px;
          border-bottom: none;
        }
      }
      &-Row{
        &__El{
          display: none;
          margin-right: 16px !important;
          flex: 1;
          width: auto;
          margin-left: 16px;
          justify-content: flex-end;
          &:nth-child(1){
            display: flex;
          }
        }
      }
    }
    &-Aside{
      width: 100%;
      padding-right: 0;
      &__Head{
        top: 109px;
        z-index: 2;
        &:not(:first-child){
          margin-top: 24px;
        }
      }
      &:after{
        display: none;
      }
    }
    &-Heading{
      margin-bottom: 16px;
      position: sticky;
      top: 52px;
      display: flex;
      gap: 0;
      background-color: #fff;
      margin: 0 -16px;
      padding: 16px;
      justify-content: space-between;
      border-top: 1px solid var(--mid-light-gray);
      z-index: 4;
      &__Prev, &__Next{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 1px solid var(--cherry);
        border-radius: 50%;
        background-color: transparent;
      }
      &__Next{
        transform: rotate(180deg);
      }
      &-Right{
        background: none;
        &__El{
          display: none;
          margin: 0 !important;
          padding: 0;
          border: none;
          color: var(--cherry);
          &:nth-child(1){
            display: block;
          }
        }
      }
    }
  }
}



@media screen and (min-width: 768px){
  .PriceTable-Content-Row__El, .PriceTable-Heading-Right__El{
    display: flex !important;
  }
}

