.Header{
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 68px;
  background: #FFFFFF;
  border-bottom: 1px solid #F5F7FA;
  .container{
    display: flex;
    height: 100%;
  }
  &Info{
    display: flex;
    margin-left: 72px;
    &-City{
      width: 57px;
      align-self: center;
      position: relative;
      margin-right: 24px;
      height: 24px;
      transition: .5s;
      &:hover{
        .HeaderInfo-City__Bg{
          opacity: 1;
          pointer-events: all;
        }
        .HeaderInfo-City__El{
          opacity: 1;
          pointer-events: all;
        }
        svg{
          transform: translateY(-50%) rotate(180deg);
        }
      }
      svg{
        position: absolute;
        left: calc(100% + 4px);
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        transition: .3s;
      }
      &__Bg{
        background-color: #fff;
        position: absolute;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        left: -8px;
        top: -8px;
        display: block;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
      }
      &__El{
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        transition: .5s;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        top: 0;
        &:hover{
          @media screen and (min-width: 1024px) {
            color: var(--purple);
          }
        }
        &_active{
          top: 0 !important;
          opacity: 1;
          svg{
            opacity: 1;
          }
        }
        svg{
          margin-left: 4px;
          flex-shrink: 0;
        }
      }
    }
    &-Phones{
      align-self: center;
      position: relative;
      height: 16px;
    }
    &__Phone{
      @extend %small-text;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(100%);
      opacity: 0;
      white-space: nowrap;
      &_active{
        transform: none;
        opacity: 1;
      }
      @include hoverMixin(){
        color: var(--cherry);
      }
    }

  }
}

.Logo{
  display: flex;
  align-items: center;
}

.Nav{
  display: flex;
  margin-left: auto;
  &__Link{
    display: flex;
    a{
      @extend %small-text-wide;
      color: var(--dark-gray);
      display: flex;
      align-items: center;
      position: relative;
      transition: .3s;
      &:hover{
        @media screen and (min-width: 1024px){
          color: var(--cherry)
        }
        &:after{
          @media screen and (min-width: 1024px){
            width: 100%;
          }
        }
      }
      &:after{
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
        height: 1px;
        background-color: var(--cherry);
      }
    }
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.Header .CallOrder{
  @extend %black-btn;
  margin-left: 24px;
  align-self: center;
  svg{
    display: none;
  }
}

.Burger{
  display: none;
}

.mobileMenu{
  display: none;
  .CallOrder{
    @extend %cherry-btn;
    width: 100%;
    margin-top: 24px;
  }
}

@media screen and (max-width: 1100px) {
  .Burger{
    display: block;
    padding: 12px;
    margin-right: -12px;
    margin-left: 12px;
    background: transparent;
    border: none;
    align-self: center;
    cursor: pointer;
    overflow: hidden;
    span{
      display: block;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      background: #0F0F0F;
      transition: .3s;
      &:not(:last-child){
        margin-bottom: 6px;
      }
    }
    &_active{
      span{
        &:nth-child(1){
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(2){
          transform: translateX(100%);
          opacity: 0;
        }
        &:nth-child(3){
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  .Header .CallOrder{
    margin-left: auto;
  }

  .Header{
    height: 56px;
    &Info{
      display: none;
    }
    .Nav{
      display: none;
    }
  }

  .mobileMenu{
    display: flex;
    position: fixed;
    z-index: 10;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    overflow: hidden;
    transition: .3s;
    &_active{
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.2);
      .mobileMenu-Wrap{
        transform: none;
      }
    }
    &-Wrap{
      width: 100%;
      max-width: 360px;
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(181, 7, 107, 0.05), inset 0px 4px 8px rgba(181, 7, 107, 0.05);;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      transition: .3s;
    }
    .Nav{
      display: block;
      padding: 24px 24px;
      margin-left: 0;
      &__Link{
        a{
          padding: 16px 0;
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
        }
        &:not(:last-child){
          margin-right: 0;
        }
      }
    }
    &-Phones{
      margin-top: auto;
      background-color: #F5F7FA;
      padding: 24px;
      &__Item{
        display: flex;
        &:not(:first-child){
          margin-top: 16px;
        }
        justify-content: space-between;
        p, a{
          display: block;
          font-weight: 500;
          font-size: 14px;
          line-height: 115%;
          color: var(--black);
        }
        a{

        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .Burger{
    margin-left: 8px;
  }

  .Header {
    height: 52px;
    .Logo{
      img {
        height: 20px;
      }
    }
    .CallOrder {
      padding: 12px;
      border: none;
      p {
        display: none;
      }
      svg {
        display: block;
      }
    }
  }

  .mobileMenu {
    top: 52px;
    .Nav__Link{
      &:not(:last-child){
        border-bottom: 1px solid #F7F7F7;
      }
    }
    &-Wrap {
      max-width: 100%;
      width: 100%;
    }
  }
}